[package]
name = "era-boojum-validator-cli"
version = "0.1.0"
edition = "2021"

[dependencies]
boojum = { git = "https://github.com/matter-labs/era-boojum.git", branch="main"}
zkevm_circuits = {git = "https://github.com/matter-labs/zkevm_circuits.git", branch="main"}
circuit_definitions = {git = "https://github.com/matter-labs/zkevm_test_harness.git", branch="v1.4.0"}


#boojum = {path = "../boojum"}
#zkevm_circuits = {path = "../zkevm_circuits"}
#zkevm_test_harness = {path = "../zkevm_test_harness"}
#circuit_definitions = {path = "../zkevm_test_harness/circuit_definitions"}

hex = "*"
bincode = "*"
colored = "2.0"
serde_json = "*"
serde = {version = "1", features = ["derive"]}
clap = { version = "4.2.4", features = ["derive"] }
anyhow = "*"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
ethers = {version = "1", features = ["ws", "rustls"]}
sha3 = "*"

